<!DOCTYPE html>
<html>
<head>
    <title>{{PageTitle}}</title>
    <link rel="shortcut icon" href="{{.FavIcon}}"/>

    <link rel="stylesheet" href="/static-inbuilt/uadmin/assets/bootstrap/3.3.7/css/bootstrap.css" >
    <link rel="stylesheet" href="/static-inbuilt/uadmin/assets/fa/css/all.min.css">
    <link rel="stylesheet" href="/static-inbuilt/uadmin/assets/bootstrap/3.3.7/css/bootstrap-theme.css" >
    <link rel="stylesheet" href="/static-inbuilt/uadmin/assets/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static-inbuilt/uadmin/assets/admin/main.css">
    <link rel="stylesheet" href="/static-inbuilt/uadmin/assets/css/hover.css">
    <link rel="stylesheet" href="/static-inbuilt/uadmin/assets/spinner/src/jRoll.css">

    <style type="text/css" media="all">
        /* fix rtl for demo */
        .chosen-rtl .chosen-drop { left: -9000px; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body{{if .Language.RTL}} dir="rtl"{{end}}>
