{{Include "header"}}
{{Include "header-bar"}}
<style type="text/css" media="all">
  /* fix rtl for demo */
  .chosen-rtl .chosen-drop { left: -9000px; }
</style>
    <div class="container-fluid main-content" >
      <div class="col-sm-12">
        <form method="POST" action="" enctype="multipart/form-data">
          <br/>
          <div class="col-sm-3">
            <br />
            <div class="list-group">
              <span class="list-group-item" >
                <center>
                  <img src="{{.ProfilePhoto}}" style="width:100%">
                </center>
              </span>
              <button type="submit" class="pointer list-group-item search"> <i class="fa fa-save fa-fw" aria-hidden="true"></i>&nbsp; {{Tf "uadmin/system" .Language.Code "Save Changes"}}</button>
              <button type="button" class="pointer list-group-item search" onclick="$('#myModal').modal('show');"><i class="fa fa-unlock-alt fa-fw" aria-hidden="true"></i>&nbsp; {{Tf "uadmin/system" .Language.Code "Change Password"}}</button>
              {{if .OTPRequired}}
              <a type="button" style="text-align:left;" class="btn pointer list-group-item search" href="{{.RootAdminURL}}/profile?otp_required=0"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; {{Tf "uadmin/system" .Language.Code "Disable 2-Factor Auth"}}</a>
              {{else}}
              <a type="button" style="text-align:left;" class="btn pointer list-group-item search" href="{{.RootAdminURL}}/profile?otp_required=1"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; {{Tf "uadmin/system" .Language.Code "Enable 2-Factor Auth"}}</a>
              {{end}}
            </div>
          </div>
          <div class="col-sm-9">
            <div class="form-horizontal form-signin">
              <div class="form-group search">
                <div class="input-group">
                  <span style="min-width:140px;" class="input-group-addon camelcaseFix">2FA Verification</span>
                  <img src="{{.OTPImage}}">
                </div>
              </div>
            </div>
            {{if .IsUpdated}}
              {{if .Status}}
              <div class="alert alert-warning">
                <strong><i class="fa fa-exclamation"></i></strong>&nbsp;{{.Notif}}
              </div>
              {{else}}
              <div class="alert alert-info">
                <strong>{{Tf "uadmin/system" .Language.Code "Info:"}}</strong>&nbsp;&nbsp;{{Tf "uadmin/system" .Language.Code "Changes Successfully Applied!"}}
              </div>
              {{end}} {{/* if .Status */}}
            {{end}} {{/* if .IsUpdated */}}
          </div>
        </form>
      </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade z-index99999" role="dialog" style="width:100%;">
      <div class="modal-dialog" style="width:50%;">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-unlock-alt fa-fw"></i></h4>
          </div>
          <form method="POST" action="">
            <div class="modal-body">
              <div class="form-group search">
                <div class="input-group">
                  <span style="min-width:140px;" class="input-group-addon camelcaseFix">{{Tf "uadmin/system" .Language.Code "Old Password"}}</span>
                  <input class="form-control" name="oldPassword" type="password" value="" >
                </div>
              </div>
              <div class="form-group search">
                <div class="input-group">
                  <span style="min-width:140px;" class="input-group-addon camelcaseFix">{{Tf "uadmin/system" .Language.Code "New Password"}}</span>
                  <input class="form-control" name="newPassword" type="password" value="" >
                </div>
              </div>
              <div class="form-group search">
                <div class="input-group">
                  <span style="min-width:140px;" class="input-group-addon camelcaseFix">{{Tf "uadmin/system" .Language.Code "Confirm Password"}}</span>
                  <input class="form-control" name="confirmPassword" type="password" value="" >
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" name="save" value="password">{{Tf "uadmin/system" .Language.Code "Apply Changes"}}</button>
              <button type="button" class="btn btn-default close_modal_btn" data-dismiss="modal">{{Tf "uadmin/system" .Language.Code "Close"}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {{Include "uadminjs"}}

    <script type="text/javascript">
    if (hash_ = window.location.hash){
      // console.log(hash_);
      if (hash_ == '#changepass'){
        $('#myModal').modal('show');
      }
    };
    $('.close_modal_btn').click(function(){
      window.location.hash = "";
    });
    setHeaderTabs(arrayVariableHeader, '#headtab-container', 'col-sm-4');

    fixcamelcase('camelcaseFix','');

      $(function () {
          $('.date').datetimepicker({
            format: "YYYY-MM-DD HH:mm"
          });
      });
    </script>
    <script type="text/javascript">
      var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'No Data to Display!'},
        '.chosen-select-width'     : {width:"95%"}
      }
      for (var selector in config) {
        // $(selector).chosen(config[selector]);
      }

      {{if .Demo}}notifyDemo();{{end}}
    </script>
{{Include "footer"}}
