<script type="text/javascript">
    var RootURL = '{{.RootAdminURL}}/';
</script>

<script src="/static-inbuilt/uadmin/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/static-inbuilt/uadmin/assets/js/jqueryui/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var signedOut = false;
    $(document).ready(function() {
        $('input.autocomplete').map(function(_, item) {
           $(item).autocomplete({
               source: $(item).data('autocompleteurl'),
               minLength: 3,
               select: function( event, ui ) {
                   event.preventDefault();
                   $('input[name="' + $(item).attr('name') + '-value"]').val(ui.item.value);
                   $(item).val(ui.item.label);
               }
           });
        });
        $('#admin-logout').click(function(e) {
            e.preventDefault();
            if (signedOut) {
                return;
            }
            signedOut = true;
            e.preventDefault();
            $.ajax({
                url: "/auth/direct-for-admin/logout/?for-uadmin-panel=1",
                method: "POST",
                processData: false,
                contentType:"application/json; charset=utf-8",
                success: function() {
                    location.href = '{{.RootAdminURL}}/';
                },
                error: function(xhr) {
                    alert('Error while logout');
                }
            });
        });
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script src="/static-inbuilt/uadmin/assets/js/tether.min.js" ></script>
<script src="/static-inbuilt/uadmin/assets/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
<script src="/static-inbuilt/uadmin/assets/moment.js"></script>
<script src="/static-inbuilt/uadmin/assets/datepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static-inbuilt/uadmin/assets/admin/main.js"></script>
<script src="/static-inbuilt/uadmin/assets/js/wow.js"></script>

<script type="text/javascript" src="/static-inbuilt/uadmin/assets/spinner/src/jRoll.js"></script>
<script src="/static-inbuilt/uadmin/assets/js/floatHead.min.js"></script>
<script src="/static-inbuilt/uadmin/assets/js/staticdata.js"></script>
<script src="/static-inbuilt/uadmin/js/notify.min.js"></script>
<script src="/static-inbuilt/uadmin/assets/chosen/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
<script src="/static-inbuilt/uadmin/assets/cropper/cropper.min.js"></script>
